
<div class="authincation h-100">
        <div class="container vh-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a [routerLink]="['/admin/index']"><img src="assets/images/check.png" alt=""></a> 
								
										<h3>Su Solicitud de registro fue procesada con éxito</h3>
										<p> <strong></strong><br>  <strong></strong></p>
										<a routerLink="/page-login" class="btn btn-success ">Ok!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>						

