
<div class="content-body" >
    <!-- row -->
    <div class="container-fluid" *ngIf="_uw.usertype!=undefined">
        <div class="row page-titles mx-0" >
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Tus datos </h4>de cuenta
                    <!-- <p class="mb-0">Nuevos registros</p> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                </ol>
            </div>
        </div>
        <div *ngIf="fullProfile!=undefined">
            <div class="row justify-content-center h-100 align-items-center"  [hidden]="_uw.usertype!=='customer' ">
                <div class="col-lg-6 col-md-8">
                    <div class="">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <form [formGroup]="ngFormCompleteAccount" (ngSubmit)="complete()">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Nombres</label>
                                                <input type="text" class="form-control floating" id="name" placeholder="nombres" formControlName="name" [(ngModel)]="account.name"required [ngClass]="{ 'is-invalid': submitted && fval.name.errors }" disabled="disabled">
                                                <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                                                    <div ngClass="fval.name.errors.required">
                                                       Campo requerido.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Apellidos</label>
                                                <input type="text" class="form-control floating" id="fullname" placeholder="apellidos" formControlName="fullname" [(ngModel)]="account.fullname"required [ngClass]="{ 'is-invalid': submitted && fval.fullname.errors }">
                                                <div *ngIf="submitted && fval.fullname.errors" class="invalid-feedback">
                                                    <div ngClass="fval.fullname.errors.required">
                                                       Campo requerido.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Cédula de identidad</label>
                                                <input type="text" class="form-control floating" id="identity" placeholder="cedula identidad" formControlName="identity" [(ngModel)]="account.identity"required [ngClass]="{ 'is-invalid': submitted && fval.identity.errors }">
                                                <div *ngIf="submitted && fval.identity.errors" class="invalid-feedback">
                                                    <div ngClass="fval.identity.errors.required">
                                                       Campo requerido.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Numero de contrato *opcional</label>
                                                <input type="text" class="form-control floating" id="cnumber" placeholder="numero de contrato" formControlName="cnumber" [(ngModel)]="account.cnumber" [ngClass]="{ 'is-invalid': submitted && fval.cnumber.errors }">                                               
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Fecha de nacimiento</label>
                                                <input type="text" class="form-control floating" id="birthday" placeholder="fecha de nacimiento" formControlName="birthday" [(ngModel)]="account.birthday"required [ngClass]="{ 'is-invalid': submitted && fval.birthday.errors }">
                                                <div *ngIf="submitted && fval.birthday.errors" class="invalid-feedback">
                                                    <div ngClass="fval.birthday.errors.required">
                                                       Campo requerido.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Numero de cuenta bancaria</label>
                                                <input type="text" class="form-control floating" id="numberBankAccount" placeholder="# de cuenta Bancaria" formControlName="numberBankAccount" [(ngModel)]="account.numberBankAccount"required [ngClass]="{ 'is-invalid': submitted && fval.numberBankAccount.errors }">
                                                <div *ngIf="submitted && fval.numberBankAccount.errors" class="invalid-feedback">
                                                    <div ngClass="fval.numberBankAccount.errors.required">
                                                       Campo requerido.
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Entidad bancaria</label>
                                                <input type="text" class="form-control floating" id="bankEntity" placeholder="Entidad bancaria" formControlName="bankEntity" [(ngModel)]="account.bankEntity"required [ngClass]="{ 'is-invalid': submitted && fval.bankEntity.errors }">
                                                <div *ngIf="submitted && fval.bankEntity.errors" class="invalid-feedback">
                                                    <div ngClass="fval.bankEntity.errors.required">
                                                   Campo requerido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Direccion</label>
                                                <input type="text" class="form-control floating" id="address" placeholder="Dirección" formControlName="address" [(ngModel)]="account.address"required [ngClass]="{ 'is-invalid': submitted && fval.address.errors }">
                                                <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
                                                <div ngClass="fval.address.errors.required">
                                                   Campo requerido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Teléfono</label>
                                                <input type="text" class="form-control floating" id="phone" placeholder="Teléfono" formControlName="phone" [(ngModel)]="account.phone"required [ngClass]="{ 'is-invalid': submitted && fval.phone.errors }">
                                                <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
                                                    <div ngClass="fval.phone.errors.required">
                                                   Campo requerido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right" style="padding-bottom: 50px;">
                                            <div [hidden]="!isError">
                                                <div style="color: red;text-align: left;">
                                                {{message}}
                                                </div>
                                            </div>
                                            </div>
                                            <button class="btn btn-success btn-block btn-lg login-btn" type="submit">Actualizar datos</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
        
    </div>
</div>
