
<div class="content-body">
	<div class="container-fluid">
		<div >
			<span [hidden]="this.waiting  || !this.clear">
				Nada que mostar por ahora
			</span>
		</div>
		<div [hidden]="!this.waiting">Cargando...
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<div class="row page-titles mx-0 " *ngIf="creditcards!=undefined">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Tarjetas </h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
            	</ol>
            </div>
        </div>
		<div class="row" >			
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-responsive-md mb-0 table-striped" *ngIf="creditcards!=undefined">
								<thead>
									<tr>
										<th>Numero</th>
										<th>Nombre</th>
										<th>CVV</th>
										<th>Fecha de caducidad</th>
										<th>Direccion</th>
										<th class="float-right">Status</th>
									</tr>
								</thead>
								<tbody id="customers">
									<tr class="btn-reveal-trigger" *ngFor="let creditcard of creditcards">
										<td class="py-3" *ngIf="creditcard.number!=undefined">
											<a href="javascript:void(0);">
												<div class="media d-flex align-items-center">												
													<div class="media-body">
														<h5 class="mb-0 fs--1">{{creditcard.number}}</h5>
													</div>
												</div>
											</a>
										</td>
										<td class="py-3" *ngIf="creditcard.number==undefined">
											<a href="javascript:void(0);">
												<div class="media d-flex align-items-center">												
													<div class="media-body">
														<h5 class="mb-0 fs--1">Por asignar</h5>
													</div>
												</div>
											</a>
										</td>
										<td class="py-2"><a
										>{{creditcard.name }}</a>
										</td>
										<td class="py-2"><a
										>{{creditcard.cvv}}</a>
										</td>
										<td class="py-2"><a
										>{{creditcard.caduca}}</a>
										</td>
										<td class="py-2"><a
										>{{creditcard.address}}</a>
										</td>
										<td *ngIf="creditcard.status==='complete'">
											<a class="btn-link text-success float-right">COMPLETED</a>
										</td>
										<td *ngIf="creditcard.status==='new'">
											<a class="btn-link text-light float-right">PENDING</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
